.advantage {
  position: relative;
  padding: 0 35px;
  min-height: 169px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  &--prime-color {
    background-color: $light-blue;
    color: $white;
    min-height: 191px;
    padding: 0 25px;
  }

  &--left {
    .advantage__title {
      @media (min-width: $tablet-width) {
        padding: 0 36px;
      }
    }
  }

  &--right {
    .advantage__title {
      @media (min-width: $tablet-width) {
        padding: 0 28px;
      }
    }
  }

  &--first {
    min-height: 228px;
    padding-top: 37px;
    background-position: 50% top;
    background-image: url("../img/white-space-mobile.png");
    background-repeat: no-repeat;
    background-size: 768px 36px;

    @media (min-width: $tablet-width) {
     background-image: none;
    }
  }


  @media (min-width: $tablet-width) {
    min-width: 256px;
    min-height: 256px;
  }

  @media (min-width: $desktop-width) {
    min-width: 400px;
  }
}

.advantage__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 0 35px;
  }
}

.advantage__number {
  margin: 11px 0 17px;
  font-size: 14px;
  line-height: 21px;
}

.advantage__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    max-width: 192px;
  }
}
