.advantages__wrapper {
  width: 100%;
}

.advantages__picture {
  width: 100%;


  img {
    width: 100%;
    max-height: 100%;
  }
}

.advantages__sub-list {
  margin: 0;
  padding: 35px 20px;
}

.advantages__inner-wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    max-height: 256px;
  }
}
