.button {
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  background-color: $light-blue;
  color: $white;
  border: none;
  padding: 18.5px 0 13.5px;
  width: 100%;
  cursor: pointer;
}
