.gallery-video__title {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.gallery-video__text {
  margin: 0 0 33px 0;
  padding: 0 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding: 0 100px;
    margin: 0 0 62px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 170px;
    margin: 0 0 65px 0;
  }
}

.gallery-video__content {
  position: relative;
}

.gallery-video__control {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: $light-grey;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    min-height: 96px;
    padding: 0 41px 0 37px;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-wrap: nowrap;
    background-color: rgba(#000000, 0.6);
  }
}

.gallery-video__video {
  width: 100%;
  display: block;
  position: relative;
}

.gallery-video__volume {
  width: 100%;
  display: flex;
  height: 45px;
  background-color: rgba(#000000, 0.6);
  padding: 0 22px;
  position: absolute;
  top: -45px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    order: 2;
    background-color: transparent;
    height: auto;
    margin: 0 41px;
    padding: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 22px;
    height: 3px;
    width: 84%;
    background-color: $white;
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-5px);
    left: 111px;
    height: 13px;
    width: 13px;
    background-color: $white;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 0;
    }
  }
}

.gallery-video__repeat {
  margin-left: 25px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0;
    order: 1;

    path {
      fill: $white;
    }
  }
}

.gallery-video__subtitles {
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0;
    order: 3;

    path {
      fill: $white;
    }
  }
}

.gallery-video__screen {
  margin: 23px 23px 23px 31px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 31px;
    order: 4;

    path {
      fill: $white;
    }
  }
}
