.page-header {
  background-color: $white;
  min-height: 56px;
  position: relative;
}

.page-header__toggle {
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
  top: 17px;
  right: 20px;
  border: none;
  background: url('../img/icon-menu.svg') center;

  &--active {
    background: url('../img/icon-cross.svg') center;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
