.page-footer {
  padding: 38px 20px 23px;
  text-transform: uppercase;
  text-align: center;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
}

.page-footer__slogan {
  margin: 0;
  margin-bottom: 33.5px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__copyright {
  margin: 0;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__copyright-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
