.sign-up {
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.sign-up__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sign-up__description {
  margin: 0;
  padding: 20px 9px 27px;
  font-size: 14px;
  line-height: 21px;
}

.sign-up__wrapper {
  margin: 33px 0 49px;

  @media (min-width: $tablet-width) {
    margin: 58px auto;
    max-width: 458px;
  }

  @media (min-width: $desktop-width) {
    margin: 58px auto 66px;
    max-width: 458px;
  }
}
