.sign-up {
  padding: 33px 20px 49px;
  text-align: center;
  text-transform: uppercase;
}
.sign-up__wrapper {
}
.sign-up__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.sign-up__description {
  margin: 0;
  padding: 20px 9px 27px;
  font-size: 14px;
  line-height: 21px;
}
.sign-up__button {

}
