.site-list {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    max-height: 100%;
    align-items: flex-start;
  }
}

.site-list__item {
  width: 100%;
}

.site-list__link {
  text-decoration: none;
  display: none;
  align-items: center;
  justify-content: center;
  height: 56px;
  color: $white;
  background-color: $light-blue;
  padding: 10px 0 5px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;

  &--logo {
    display: block;
    background-color: transparent;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
    color: $black;
    padding: 0;
  }
}

.site-list--active {
  position: absolute;
  top: 0;
  left: 0;

  .site-list__link {
    display: flex;

    &--logo {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }
}
