.site-list {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  width: 100%;
}

.site-list--active {
  .site-list__item {
    display: flex;

    &--logo {
      display: none;
    }
  }
}

.site-list__item {
  background-color: $light-blue;
  width: 100%;
  min-height: 55px;
  text-align: center;
  align-items: center;
  display: flex; //здесь по умолчанию будет none

  &--logo {
    display: none; //Здесь по умолчанию будет block
    background-color: transparent;
  }
}

.site-list__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: inline-block;
}
