.sub-list__item {
  list-style: none;
  padding-left: 49px;
  text-transform: uppercase;
}

.sub-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.sub-list__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 26px;
}
