.sub-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.sub-list__item {
  list-style: none;
  padding-left: 49px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
    }
  }


  @media (min-width: $tablet-width) {
    text-align: center;
    padding-left: 0;
    padding-top: 49px;
    max-width: 193px;
  }
}

.sub-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.sub-list__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 26px;
}
