$white: #ffffff;
$black: #000000;
$light-blue: #81b3d2;
$blue: #669ec0;
$dark-blue: #5496bd;
$light-grey: #eeeeee;
$grey: #eaeaea;
$brown: #766357;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
